{
	auto_https off
}

:80 {
	header /api {
		-Server
	}

	header /api/* {
		-Server
	}

	handle /api* {
		reverse_proxy {$NUTRIPI_BACKEND}
	}

	handle {
		root * /var/www/html
		try_files {path} /index.html
		file_server
	}
}
