DB_HOST=localhost
DB_USER=your_db_user
DB_PSWD=your_db_password
DB_DB=your_db_name
DB_PORT=your_db_port
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
CLIENT_ORIGIN=your_client_origin